<h2>Data Analysis & Visualization - CA1</h2>

<h5>Data Selection</h5>

<h7>The Dataset has been sourced from - https://www.kaggle.com/datasets/adityadesai13/used-car-dataset-ford-and-mercedes?rvi=1</h7>

In [40]:
import os
import pandas as pd
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import LabelEncoder

In [48]:
cwd = os.getcwd()
os.chdir("D:/Year 4/DAV/DAV-CA1")
data = pd.read_csv("uk_car_dataset.csv")
print(data.isnull().sum())
print(data)

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64
           model  year  price transmission  mileage fuelType  tax   mpg  \
0         Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7
1          Focus  2018  14000       Manual     9083   Petrol  150  57.7
2          Focus  2017  13000       Manual    12456   Petrol  150  57.7
3         Fiesta  2019  17500       Manual    10460   Petrol  145  40.3
4         Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7
...          ...   ...    ...          ...      ...      ...  ...   ...
99182         X3  2016  19000    Automatic    40818   Diesel  150  54.3
99183   5 Series  2016  14600    Automatic    42947   Diesel  125  60.1
99184   3 Series  2017  13100       Manual    25468   Petrol  200  42.8
99185   1 Series  2014   9930    Automatic    45000   Diesel   30  64.2
99186         X1  2017  15981    Automatic    59432   Diesel  125  57.6

       engineSize
0             1.0
1             1.0
2             1.0
3             1.5
4             1.0
...           ...
99182         2.0
99183         2.0
99184         2.0
99185         2.0
99186         2.0

[99187 rows x 9 columns]

<h5>Imputation Of Missing Data</h5>

In [55]:
print("Before --------------------------")
print(data.isnull().sum())

imputers = {
    'price': SimpleImputer(strategy='median'),
    'year': SimpleImputer(strategy='most_frequent'),
    'transmission': SimpleImputer(strategy='most_frequent'),
    'mileage': SimpleImputer(strategy='median'),
    'fuelType': SimpleImputer(strategy='most_frequent'),
    'tax': SimpleImputer(strategy='mean'),
    'mpg': KNNImputer(n_neighbors=5),
    'engineSize': KNNImputer(n_neighbors=5)
}

for col, imputer in imputers.items():
    if col == 'model':
        data[col]
    else:
        imputed_data = imputer.fit_transform(data[col].values.reshape(-1, 1))
        data[col] = imputed_data.squeeze()

print("After --------------------------")
print(data.isnull().sum())

print("Data --------------------------")
print(data)

Before --------------------------
model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64
After --------------------------
model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64
Data --------------------------
           model  year    price transmission  mileage fuelType    tax   mpg  \
0         Fiesta  2017  12000.0    Automatic  15944.0   Petrol  150.0  57.7
1          Focus  2018  14000.0       Manual   9083.0   Petrol  150.0  57.7
2          Focus  2017  13000.0       Manual  12456.0   Petrol  150.0  57.7
3         Fiesta  2019  17500.0       Manual  10460.0   Petrol  145.0  40.3
4         Fiesta  2019  16500.0    Automatic   1482.0   Petrol  145.0  48.7
...          ...   ...      ...          ...      ...      ...    ...   ...
99182         X3  2016  19000.0    Automatic  40818.0   Diesel  150.0  54.3
99183   5 Series  2016  14600.0    Automatic  42947.0   Diesel  125.0  60.1
99184   3 Series  2017  13100.0       Manual  25468.0   Petrol  200.0  42.8
99185   1 Series  2014   9930.0    Automatic  45000.0   Diesel   30.0  64.2
99186         X1  2017  15981.0    Automatic  59432.0   Diesel  125.0  57.6

       engineSize
0             1.0
1             1.0
2             1.0
3             1.5
4             1.0
...           ...
99182         2.0
99183         2.0
99184         2.0
99185         2.0
99186         2.0

[99187 rows x 9 columns]

In [52]:
print(data)

           model  year    price transmission  mileage fuelType    tax   mpg  \
0         Fiesta  2017  12000.0    Automatic  15944.0   Petrol  150.0  57.7
1          Focus  2018  14000.0       Manual   9083.0   Petrol  150.0  57.7
2          Focus  2017  13000.0       Manual  12456.0   Petrol  150.0  57.7
3         Fiesta  2019  17500.0       Manual  10460.0   Petrol  145.0  40.3
4         Fiesta  2019  16500.0    Automatic   1482.0   Petrol  145.0  48.7
...          ...   ...      ...          ...      ...      ...    ...   ...
99182         X3  2016  19000.0    Automatic  40818.0   Diesel  150.0  54.3
99183   5 Series  2016  14600.0    Automatic  42947.0   Diesel  125.0  60.1
99184   3 Series  2017  13100.0       Manual  25468.0   Petrol  200.0  42.8
99185   1 Series  2014   9930.0    Automatic  45000.0   Diesel   30.0  64.2
99186         X1  2017  15981.0    Automatic  59432.0   Diesel  125.0  57.6

       engineSize
0             1.0
1             1.0
2             1.0
3             1.5
4             1.0
...           ...
99182         2.0
99183         2.0
99184         2.0
99185         2.0
99186         2.0

[99187 rows x 9 columns]

<h5>Multivariate Analysis</h5>

<h5>Normalisation</h5>

<h5>Weighting and Aggregation</h5>

<h5>Uncertainty and Sensitivity Analysis</h5>

<h5>Back To The Data</h5>

<h5>Links to Other Indicators</h5>

<h5>Visualisation Of the Results</h5>